@model AgencyLicense.Models.nlicAgencyLicenseDetails_T


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div style="font-weight: bold;text-align: left; color:steelblue;;">
    <d1 class="heading"><h1>Agent Search </h1></d1>
    <br />
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
@using (Html.BeginForm("Index", "Agent", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" id="detail_id">
            @Html.LabelFor(model => model.SN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SN, new { htmlAttributes = new { @class = "form-control", @id = "detail" } })<p style="color:red;">@Html.DisplayFor(model => model.ErrorDetail)</p>
                @Html.ValidationMessageFor(model => model.SN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Btn" value='Search' class="btn btn-default1" />

            </div>
        </div>
        <table class=" table">
            <tbody>
                <tr>

                    <td style="font-size:13px;text-align: left;">
                        <button class="btn btn-success" onclick="location.href='@Url.Action("MainIndex", "Agent")';return false; ">Home Page</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
